#main {
  /*background-color: #cfe8fc;*/
  height: 100vh;
}

/*
#analyzer_canvas {
  width: 100%;
  height: 100%;
}
*/

/*
#hist_canvas {
  width: 100%;
  height: 100%;
}
*/

.draggable {
  position: absolute;
}

body {
  overflow: hidden;
}

.img-greyscale {
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: grayscale(1);         /* Microsoft Edge and Firefox 35+ */
}